#infovis {
    position:relative;
	background-color:#FFFFFF;
    width:100%;
    height:100%;
    margin:0 autoauto;
    overflow:hidden;
}

/*TOOLTIPS*/
.tip {
   text-align: left;
   width:auto;
   max-width:500px;
}

.tip-title {
  font-size: 11px;
  text-align:center;
  margin-bottom:2px;
}